@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.login {
    width: 200px;
    margin: 50px auto;
}

.pdf-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
}

.pdf-button--close {
    position: fixed !important;
    top: 10px;
    right: 20px;
    color: #fff;
    cursor: pointer;
}

.pdfBlock {
    position: fixed;
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin: auto;
    z-index: 10;
}